@font-face{
	font-family: "roboto";
	src: url("fonts/helvetica_neue_light.ttf");
}
html {
  scroll-behavior: smooth;
}
body{
  margin: 0px;
}
.parent{
    display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  background-color: #98eebc;
  opacity: 0.7;
  filter: alpha(opacity=70);
  border-radius: 4px;
  position: fixed;
  width: 100%;
  height: 40px;
}
.product, .contact {
	list-style-type: none;
	margin-right: 13px;
	cursor: pointer;

}
.flex-container {
    display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  /*background-color: white;*/
  /*filter: alpha(opacity=70);*/
  /*border-radius: 4px;*/
  /*position: fixed;*/
  width: 100%;
   /*box-shadow:0px 0px 1px #de1dde;*/
}
.img-logo{
    margin-left: 59px;
    margin-top: 20px;
}
.navbar-list {
  margin-right: 79px;
	display: flex;

}
.navbar-list li{
	 position: relative;
  display: inline-block;
}

.navbar-list li:after {
  content: "";
  position: absolute;
  left:-10px;
  top: 100%;
  margin-top: 10px;
  width:0;
  height: 2px;
  background-color: black;
  transition: width .3s ease-in-out;
}
.navbar-list li:hover:after {
  width: 40%;
  /*margin-right: 20px;*/
}
article{
          height: 460px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
	/*display: flex;*/
	justify-content: center;
    width: 80%;
    padding-left: 95px;
    margin: 0 auto;
	/*padding-top: 40px;*/
}
/*    article>* {
        flex: 1 1 45px;
    }*/

article  img {
margin-top: -30px;
    margin-right: 58px;
}

article  p {
	width: 385px;
	
  font-family: HelveticaNeue-UltraLigCondObl;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
  margin-bottom: 40px;

}
/*article div{
	width: 50%;
}*/
.article-info{
	padding-top: 60px;

}
h1{
	  font-family: roboto;
  font-size: 37px;
 font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: 3px;
  text-align: left;
  color: #4d4d4d;
}

article div p span {
	font-style: italic;
	color:#80808091;
}
.addBtn{
  text-decoration: none;
  background-color: #EEEEEE;
  color: #9c9797;
  width: 120px;
  text-align: center;
  padding-top: 10px;
  height: 30px;
  border-radius: 2px;
}
.monitori , .sanati , .yursasmeni {
  list-style-type: none;
 
}
.msk{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
.msk li {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 5px;

}
.msk li img{
  width: 50%;
}
/*
.msk{
  display: flex;
}
.monitori {

  
  margin-left: 115px;
    padding-right: 180px;
}
.sanati {
   padding-right: 180px;
}
h2{
  width: 20px;
}
ul li img{
  width: 70px;
  height: 60px;
} .msk li{
   position: relative;
  display: inline-block;
}
*/

.msk li::after {
  content: "";
  /*display: block;*/
  width: 0;
  height: 7px;
  background-color: #4d4d4d;
  position: absolute;
    margin-top: 80px;
/*  top:50px;
  left: 350px;*/
/*    content: "";
  position: absolute;
  left:-10px;
  top: 100%;

  width:0;
  height: 2px;
  background-color: black;
  transition: width .3s ease-in-out;*/
}
.msk li:hover:after {
  width: 3%;
  margin-left: 165px;
}

/*
.navbar-list li:after {
  content: "";
  position: absolute;
  left:-10px;
  top: 100%;
  margin-top: 10px;
  width:0;
  height: 2px;
  background-color: black;
  transition: width .3s ease-in-out;
}
.navbar-list li:hover:after {
  width: 40%;
  /*margin-right: 20px;
}*/


.msk li h2 {
  font-size: 15px;
}

.first-section{
  /*margin-top: 60px;*/
    width: 80%;
  margin: 60px auto 0;

}
.yvelaze {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  width: 100%;
    /*margin: 0 auto;*/
    text-align: center;
}
.yvelaze li{
  list-style: none;
  flex: 0 0 33.333333%;
  margin-bottom: 80px;
}
.yvelaze li p{
  margin-bottom: 47px;
}
.section-main-img{
    width: 50%;
}
h3{
  /*margin-left: 170px;*/
      padding-left: 35px;
  font-family: helvetica;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 1px;

  color: #4d4d4d;
}
@font-face{
  font-family: "helvetica";
  src: url("fonts/helvetica_neue_roman.ttf");
}
.yvelaze li a{
  opacity: 0.5;
    text-decoration: none;
    width: 56px;
    height: 24px;
    font-family: helvetica;
    font-size: 13px;
    /* font-weight: bold; */
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #4d4d4d;
    float: right;
    padding-right: 34px;
}


.bottomImg {
  width: 20px;
  float: left;
  margin-left: 9px;
}
.first-bottom-img{
  margin-left: 40px;
    flex: 0 0 33.333333%;
}

.why-us{
  width: 80%;
    margin: 0 auto;

}
.why-us-boxes{
    display: flex;
  flex-wrap: wrap;
  padding-left: 35px;
  /*display: flex;*/
  /*width: 80%;*/
  /*margin: 0 auto;*/
  /*justify-content: space-around;*/
  /*margin-left: 125px;*/

}
.why-us-boxes div{

height: 178px;
 
    flex-wrap: wrap;
    /* flex-grow: 1; */
    width: 32%;
    /* height: auto; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.why-us-boxes p{
  padding-left: 28px;
          /*flex-grow: 1;*/
}
.why-us-boxes span{
    font-style: italic;
    margin-left: 28px;
    margin-bottom: 20px;
    width: 21px;
    padding: 13px;
    color: black;
    background-color: white;

}
/*
#first {
    background-image:url('images/Group 20.png');
    background-position:center;
       background-size: contain;
    background-repeat: no-repeat;}*/
    .why-us img{
      position: absolute;
    z-index: -1;
    width: 22%;

    }



footer{
  background-color: #d0d6c58a;
  /*height: 190px;*/
    height: 195px;
  overflow: hidden;
  /*width: 100%;*/
  /*display: flex;*/
  /*justify-content: space-between;*/
  margin-top: 25px;
}
.footer-content{
   display: flex;
  width: 78%;
  padding-left: 35px;
  margin: 0 auto;
}


.footer-content div{
  padding-top: 20px;
}

footer img{
 margin-top: 30px;
    height: 75px;
}

.footer-content p{
  font-size: 10px;
      /*margin: 51px -119px;*/
      width: 200px;
      /*color: #4d4d4d;*/
       opacity: 0.5;
       font-family: helvetica;
           margin-top: 53px;
    margin-left: 20px;
}

footer ul{
      flex-direction: column;
    flex-wrap: wrap;
    font-size: 10px;
    line-height: 0.9;
    opacity: 0.5;
        margin-top: 53px;
    margin-left: 18%;
    padding: 0;
    display: flex;
    width: 50%;

}
footer li {
  margin-right: 20px;
  list-style-type: none;
  display: flex;
  flex: 1 0 25%;
  width: 63%;
  /*flex: 1 0 34.333333%;*/
}

footer hr{
  width: 73.5%;
  margin-left: 12%;
}

.socal-icons{
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: 0 auto;
     padding-right: 9.5%;
    /* padding-top: 2px; */
    /* padding-bottom: 10px; */
    margin-top: -30px;
}
.socal-icons img{
  margin-top: 0;
  margin-right: 10px;
}
.insta , .twitt {
  width: 13px;
}
.fb{
  width: 7px;
}

footer li a{
  text-decoration: none;
  color: #4d4d4d;
}
/*--------------- second page css -------------------*/


.second-top {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
  width: 79%;
  margin: 0 auto;
  border-radius: 10px;
  flex-wrap: wrap;
}
select {
    width: 140px;
        border-radius: 5px;
    height: 28px;
    /* border: none; */
    /*flex-basis: content;*/
    margin-top: 10px;
     outline: none;
     cursor: pointer;
}

option {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.second-middle{
  display: flex;
  flex-direction: column;
  margin-top: 16px;

}
.second-middle div {
  /*background-color: red;*/
    width: 79%;
    margin-left: 140px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 17px 8px;
}
.sanati-two{
  width: 120px;
  height: 117px;
}
.first{
  display: flex;

}

.first h3
 {
  margin-left: 46px;
  font-family: helvetica;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.31;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
}
.first h4{
  margin-left: -67px;
  width: 245px;
  height: 24px;
  font-family: helvetica;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 9.89;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
  opacity: 0.5;
}

.first p{
    
  font-family:helvetica ;
  font-size: 12px;
/*  font-weight: bold;*/
  font-stretch: normal;
  font-style: normal;
  line-height: 4.42;
  letter-spacing: normal;
  text-align: left;
  color: blue;
  margin-left: 410px;
}
/*.first button{
  width: 96px;
  height: 39px;
  border-radius: 5px;
}*/

.first span
{  
font-style: italic;
}
.heart, .cart{
 height: 26px;
  margin-top: 6%;
  width: 45px;
}
.dinamiki-two{
  width: 90px;
  height: 91px;
}
.siit{
list-style-type: none;
    margin-left: 140px;
    margin-top: 4px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 23px 19px;
    width: 77.5%;
}
.siit li {
  display: flex;


}
.siit h3
 {
  margin-left: 46px;
  font-family: helvetica;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.31;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
}
.siit  h4{
  margin-left: -84px;
  width: 245px;
  height: 24px;
  font-family: helvetica;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 9.89;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
  opacity: 0.5;
}

.siit p{
    
  font-family:helvetica ;
  font-size: 12px;
/*  font-weight: bold;*/
  font-stretch: normal;
  font-style: normal;
  line-height: 4.42;
  letter-spacing: normal;
  text-align: left;
  color: blue;
  margin-left: 410px;
}

.siit span
{  
font-style: italic;
}
.heart2, .cart2   
  {
  height: 26px;
  margin-top: 6%;
  width: 45px;}

.second-middle2{
  display: flex;
  flex-direction: column;
  margin-top: 25px;

}
.second-middle2 div {
  /*background-color: red;*/
       width: 79.5%;
    margin-left: 139px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px 6px;
}
.yursasmeni-two{
  width: 120px;
  height: 117px;
}
.second{
  display: flex;

}

.second h3
 {
  margin-left: 38px;
  font-family: helvetica;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.31;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
}
.second h4{
  margin-left: -107px;
  width: 245px;
  height: 24px;
  font-family: helvetica;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 9.89;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
  opacity: 0.5;
}

.second p{
    
  font-family:helvetica ;
  font-size: 12px;
/*  font-weight: bold;*/
  font-stretch: normal;
  font-style: normal;
  line-height: 4.42;
  letter-spacing: normal;
  text-align: left;
  color: blue;
  margin-left: 410px;
}
/*.first button{
  width: 96px;
  height: 39px;
  border-radius: 5px;
}*/

.second span
{  
font-style: italic;
}
/*.heart3, .cart3{
  height: 40px;
}*/

.second-middle3{
  display: flex;
  flex-direction: column;
  margin-top: 16px;

}
.second-middle3 div {
  /*background-color: red;*/
    width: 79%;
    margin-left: 140px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 17px 8px;
}
.stereo-two{
  width: 120px;
  height: 117px;
}
.third{
  display: flex;

}

.third h3
 {
  margin-left: 46px;
  font-family: helvetica;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.31;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
}
.third h4{
  margin-left: -67px;
  width: 245px;
  height: 24px;
  font-family: helvetica;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 9.89;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
  opacity: 0.5;
}

.third p{
    
  font-family:helvetica ;
  font-size: 12px;
/*  font-weight: bold;*/
  font-stretch: normal;
  font-style: normal;
  line-height: 4.42;
  letter-spacing: normal;
  text-align: left;
  color: blue;
  margin-left: 410px;
}
/*.first button{
  width: 96px;
  height: 39px;
  border-radius: 5px;
}*/

.third span
{  
font-style: italic;
}
.heart3, .cart3{
  height: 26px;
  margin-top: 6%;
  width: 45px;
}
.second-middle4{
  display: flex;
  flex-direction: column;
  margin-top: 16px;

}
.second-middle4 div {
  /*background-color: red;*/
    width: 79%;
    margin-left: 140px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 17px 8px;
}
.smart-two{
  width: 120px;
  height: 117px;
}
.fourth{
  display: flex;

}

.fourth h3
 {
  margin-left: 46px;
  font-family: helvetica;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.31;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
}
.fourth h4{
  margin-left: -67px;
  width: 245px;
  height: 24px;
  font-family: helvetica;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 9.89;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
  opacity: 0.5;
}

.fourth p{
    
  font-family:helvetica ;
  font-size: 12px;
/*  font-weight: bold;*/
  font-stretch: normal;
  font-style: normal;
  line-height: 4.42;
  letter-spacing: normal;
  text-align: left;
  color: blue;
  margin-left: 410px;
}
/*.first button{
  width: 96px;
  height: 39px;
  border-radius: 5px;
}*/

.fourth span
{  
font-style: italic;
}
.heart4, .cart4{
  height: 26px;
  margin-top: 6%;
  width: 45px;
}

.second-middle5{
  display: flex;
  flex-direction: column;
  margin-top: 16px;

}
.second-middle5 div {
  /*background-color: red;*/
    width: 79%;
    margin-left: 140px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 17px 8px;
}
.tv-two{
  width: 120px;
  height: 117px;
}
.five{
  display: flex;

}

.five h3
 {
  margin-left: 46px;
  font-family: helvetica;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.31;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
}
.five h4{
  margin-left: -67px;
  width: 245px;
  height: 24px;
  font-family: helvetica;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 9.89;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
  opacity: 0.5;
}

.five p{
    
  font-family:helvetica ;
  font-size: 12px;
/*  font-weight: bold;*/
  font-stretch: normal;
  font-style: normal;
  line-height: 4.42;
  letter-spacing: normal;
  text-align: left;
  color: blue;
  margin-left: 410px;
}
/*.first button{
  width: 96px;
  height: 39px;
  border-radius: 5px;
}*/

.five span
{  
font-style: italic;
}
.heart5, .cart5{
  height: 26px;
  margin-top: 6%;
  width: 45px;
}


/*third*/
.third-main{
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.third-main ul{
  width: 50%;
    display: flex;
          flex-wrap: wrap;
              flex-direction: column;
}
.third-main ul li{
    list-style: none;
}

.ul-two h1 span{
  font-style: italic;
}

.ul-two p span{
  font-style: italic;
}
.ul-two h1{
  font-size: 20px;
}
.ul-two li:nth-child(2){
  /*color: red;*/
  font-size: 35px;
}
.ul-two li:nth-child(3) p{
  width: 78%;
}
.ul-two li:nth-child(3){
  /*color: red;*/
  font-size: 14px;
   color: #4d4d4d;
   line-height: 1.5;
   font-family: helvetica;
    /*width: 70%;*/
}
.ul-two li:nth-child(4){
  font-size: 11px;
   color: #4d4d4d;
   padding-bottom: 10px;
   font-family: helvetica;
}
.ul-two li:nth-child(5) img{
  width: 5%;
  margin-left: 25px;
}
.ul-two li:nth-child(5) button{
      padding: 11px 34px;
    border-style: none;
    border-radius: 5px;
}
/*
.third-main{
    padding-top: 114px;
    padding-left: 96px;
}
.third-main li {
  list-style: none;
}
.third-main ul{
  display: flex;
      flex-wrap: wrap;
}
.lii h1{
  width: 70%;
}