/*html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  padding: 30px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  box-sizing: border-box;
}*/

.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #60666d;
}
@media (min-width: 768px) {
  .select-box {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .select-box {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .select-box {
    width: 30%;
  }
}
.select-box__current {
  position: relative;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
          animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.select-box__value {
  display: -webkit-box;
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #fff;
}
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
          animation-name: HideList;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
  display: block;
  padding: 15px;
  background-color: #fff;
}
.select-box__option:hover, .select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

    .box {
        height: 300px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .box>* {
        flex: 1 1 80px;
    }
    .box div{
      background-color: red;
    }

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}






.sanati-two{
  width: 120px;
  height: 117px;
}
.first{
  display: flex;

}

.first h3
 {
  margin-left: 46px;
  font-family: helvetica;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.31;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
}
.first h4{
  margin-left: -67px;
  width: 245px;
  height: 24px;
  font-family: helvetica;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 9.89;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
  opacity: 0.5;
}

.first p{
    
  font-family:helvetica ;
  font-size: 12px;
/*  font-weight: bold;*/
  font-stretch: normal;
  font-style: normal;
  line-height: 4.42;
  letter-spacing: normal;
  text-align: left;
  color: blue;
  margin-left: 410px;
}
/*.first button{
  width: 96px;
  height: 39px;
  border-radius: 5px;
}*/

.first span
{  
font-style: italic;
}
.heart, .cart{
 height: 26px;
  margin-top: 6%;
  width: 45px;
}
.dinamiki-two{
  width: 90px;
  height: 91px;
}
.siit{
list-style-type: none;
    margin-left: 140px;
    margin-top: 4px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 23px 19px;
    width: 77.5%;
}
.siit li {
  display: flex;


}
.siit h3
 {
  margin-left: 46px;
  font-family: helvetica;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.31;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
}
.siit  h4{
  margin-left: -84px;
  width: 245px;
  height: 24px;
  font-family: helvetica;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 9.89;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
  opacity: 0.5;
}

.siit p{
    
  font-family:helvetica ;
  font-size: 12px;
/*  font-weight: bold;*/
  font-stretch: normal;
  font-style: normal;
  line-height: 4.42;
  letter-spacing: normal;
  text-align: left;
  color: blue;
  margin-left: 410px;
}

.siit span
{  
font-style: italic;
}
.heart2, .cart2   
  {
  height: 26px;
  margin-top: 6%;
  width: 45px;}

.second-middle2{
  display: flex;
  flex-direction: column;
  margin-top: 25px;

}
.second-middle2 div {
  /*background-color: red;*/
       width: 79.5%;
    margin-left: 139px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px 6px;
}
.yursasmeni-two{
  width: 120px;
  height: 117px;
}
.second{
  display: flex;

}

.second h3
 {
  margin-left: 38px;
  font-family: helvetica;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.31;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
}
.second h4{
  margin-left: -107px;
  width: 245px;
  height: 24px;
  font-family: helvetica;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 9.89;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
  opacity: 0.5;
}

.second p{
    
  font-family:helvetica ;
  font-size: 12px;
/*  font-weight: bold;*/
  font-stretch: normal;
  font-style: normal;
  line-height: 4.42;
  letter-spacing: normal;
  text-align: left;
  color: blue;
  margin-left: 410px;
}
/*.first button{
  width: 96px;
  height: 39px;
  border-radius: 5px;
}*/

.second span
{  
font-style: italic;
}
/*.heart3, .cart3{
  height: 40px;
}*/

.second-middle3{
  display: flex;
  flex-direction: column;
  margin-top: 16px;

}
.second-middle3 div {
  /*background-color: red;*/
    width: 79%;
    margin-left: 140px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 17px 8px;
}
.stereo-two{
  width: 120px;
  height: 117px;
}
.third{
  display: flex;

}

.third h3
 {
  margin-left: 46px;
  font-family: helvetica;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.31;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
}
.third h4{
  margin-left: -67px;
  width: 245px;
  height: 24px;
  font-family: helvetica;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 9.89;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
  opacity: 0.5;
}

.third p{
    
  font-family:helvetica ;
  font-size: 12px;
/*  font-weight: bold;*/
  font-stretch: normal;
  font-style: normal;
  line-height: 4.42;
  letter-spacing: normal;
  text-align: left;
  color: blue;
  margin-left: 410px;
}
/*.first button{
  width: 96px;
  height: 39px;
  border-radius: 5px;
}*/

.third span
{  
font-style: italic;
}
.heart3, .cart3{
  height: 26px;
  margin-top: 6%;
  width: 45px;
}
.second-middle4{
  display: flex;
  flex-direction: column;
  margin-top: 16px;

}
.second-middle4 div {
  /*background-color: red;*/
    width: 79%;
    margin-left: 140px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 17px 8px;
}
.smart-two{
  width: 120px;
  height: 117px;
}
.fourth{
  display: flex;

}

.fourth h3
 {
  margin-left: 46px;
  font-family: helvetica;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.31;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
}
.fourth h4{
  margin-left: -67px;
  width: 245px;
  height: 24px;
  font-family: helvetica;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 9.89;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
  opacity: 0.5;
}

.fourth p{
    
  font-family:helvetica ;
  font-size: 12px;
/*  font-weight: bold;*/
  font-stretch: normal;
  font-style: normal;
  line-height: 4.42;
  letter-spacing: normal;
  text-align: left;
  color: blue;
  margin-left: 410px;
}
/*.first button{
  width: 96px;
  height: 39px;
  border-radius: 5px;
}*/

.fourth span
{  
font-style: italic;
}
.heart4, .cart4{
  height: 26px;
  margin-top: 6%;
  width: 45px;
}

.second-middle5{
  display: flex;
  flex-direction: column;
  margin-top: 16px;

}
.second-middle5 div {
  /*background-color: red;*/
    width: 79%;
    margin-left: 140px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 17px 8px;
}
.tv-two{
  width: 120px;
  height: 117px;
}
.five{
  display: flex;

}

.five h3
 {
  margin-left: 46px;
  font-family: helvetica;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.31;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
}
.five h4{
  margin-left: -67px;
  width: 245px;
  height: 24px;
  font-family: helvetica;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 9.89;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
  opacity: 0.5;
}

.five p{
    
  font-family:helvetica ;
  font-size: 12px;
/*  font-weight: bold;*/
  font-stretch: normal;
  font-style: normal;
  line-height: 4.42;
  letter-spacing: normal;
  text-align: left;
  color: blue;
  margin-left: 410px;
}
/*.first button{
  width: 96px;
  height: 39px;
  border-radius: 5px;
}*/

.five span
{  
font-style: italic;
}
.heart5, .cart5{
  height: 26px;
  margin-top: 6%;
  width: 45px;
}


/*third*/
.third-main{
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.third-main ul{
  width: 50%;
    display: flex;
          flex-wrap: wrap;
              flex-direction: column;
}
.third-main ul li{
    list-style: none;
}

.ul-two h1 span{
  font-style: italic;
}

.ul-two p span{
  font-style: italic;
}
.ul-two h1{
  font-size: 20px;
}
.ul-two li:nth-child(2){
  /*color: red;*/
  font-size: 35px;
}
.ul-two li:nth-child(3) p{
  width: 78%;
}
.ul-two li:nth-child(3){
  /*color: red;*/
  font-size: 14px;
   color: #4d4d4d;
   line-height: 1.5;
   font-family: helvetica;
    /*width: 70%;*/
}
.ul-two li:nth-child(4){
  font-size: 11px;
   color: #4d4d4d;
   padding-bottom: 10px;
   font-family: helvetica;
}
.ul-two li:nth-child(5) img{
  width: 5%;
  margin-left: 25px;
}
.ul-two li:nth-child(5) button{
      padding: 11px 34px;
    border-style: none;
    border-radius: 5px;
}
/*
.third-main{
    padding-top: 114px;
    padding-left: 96px;
}
.third-main li {
  list-style: none;
}
.third-main ul{
  display: flex;
      flex-wrap: wrap;
}
.lii h1{
  width: 70%;
}